schedules:
  - tasks: ['mt_free_seed']
    interval:
      minutes: 15
  - tasks: ['clean_transmission']
    interval:
      hours: 1

tasks:
  mt_free_seed:
    rss:
      url: '{? mt_rss_url ?}'
      all_entries: no

    content_size:
      min: 0.0001
      max: 12
      strict: no

    seen: yes

    free_space:
      path: /downloads
      space: 25000

    transmission:
      host: transmission
      port: 9091
      username: '{? tr_user ?}'
      password: '{? tr_pass ?}'
      path: /downloads/complete
      addpaused: no

  clean_transmission:
    disable: [seen, retry_failed]
    from_transmission:
      host: transmission
      port: 9091
      username: '{? tr_user ?}'
      password: '{? tr_pass ?}'
    if:
      - transmission_status == 'stopped' and transmission_errorString != '':
          transmission:
            host: transmission
            port: 9091
            username: '{? tr_user ?}'
            password: '{? tr_pass ?}'
            action: purge

variables: variables.yml